body{
    background-color: #525273;
}
._Main{
    width: 95vw;
    height: 95vh;
    background-color: #1d1d1d;
    margin: auto;
    margin-top: 2vh;
    overflow: hidden;
}

._Main ._LeftBar{
    background-color: #151828;
}
._Main  {
    overflow:hidden;
}
._Main ._LeftBar  h5{
    color: white;
    font-family: serif;
    margin-top: 10px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
._Main ._LeftBar  small{
    color: #868686;
}
._Main ._LeftBar ._Menu a,._Main ._LeftBar ._Favourite a {
    border: none;
    color: white;
    text-decoration: none;
    margin-left: -15px;
    margin-top: 20px;
    
}
._Main ._LeftBar ._Menu a i ,._Main ._LeftBar ._Favourite a i{
    margin: 0px 15px;
}

._Main ._LeftBar ._Menu a span, ._Main ._LeftBar ._Favourite a span{
    font-size: 13px;
    font-family: serif;
}

/*************************************/


._Main ._Center{
    background-color: #3f414c;
    /* overflow-y:scroll ; */

}
._Main ._Center ._Profile {

}
._Main ._Center ._Profile ._Search input{
    border: none;
    background-color: transparent;
    color: white;
}
._Main ._Center ._Profile ._Search .Icon{
    background-color: transparent;
    border: none;
}
._Main ._Center ._Profile ._Search .Icon i{
    color: white;
}

._Main ._Center ._Profile ._PIC{
    height: 35vh;
    margin: auto;
    background-image: url('../image/aBackgoung.svg');
    background-repeat: no-repeat;
}
._Main ._Center ._Profile ._PIC ._MyPic {
    position: relative;
    left: 43%;
    top: 30%;
    color: black;
}
._Main ._Center ._Profile ._PIC ._MyPic img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid gold;
}
._Main ._Center ._Profile ._Options{

}
._Main ._Center ._Profile ._Options ul{
    list-style-type: none;
    width: 99%;
    color: white;
    margin-top: 5px;

}
._Main ._Center ._Profile ._Options ul li{
    background-color: #151828;
    text-align: center;
}
._Main ._Center ._Profile ._Options ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid #5757b1;
}

._Main ._Center ._Profile ._Info{

}

._Main ._Center ._Profile ._TimeLine{
    background-color: #151828;
    /* margin-right: 5px; */
}
._Main ._Center ._Profile ._TimeLine ._Post{
    
}
._Main ._Center ._Profile ._Info ._Details{
    
}
._Main ._Center ._Profile ._Info ._Details ._Intro ,._Main ._Center ._Profile ._Info ._Details ._Pages{
    font-family: serif;
    margin-top: 10px;
   background-color: #151828;
   border-radius: 5px;
   padding: 10px;
   color: white;
}

._Main ._Center ._Profile ._Info ._Details ._Page small{
    
}
._Main ._Center ._Profile ._Info ._Details ._Pages img{
    border: 2px solid gold;
}
._Main ._Center ._Profile ._Info ._Details ._Pages a{
    border: none;
    color: white;
    margin-top: 10px;
 
    
}
._Main ._Center ._Profile ._Info ._Details ._Pages a span:nth-child(2) h6{
    line-height: 50px;
    margin-left: 5vh;
}



/*************************************/
._Main ._RightBar{
    background-color: #151828;
}

._Main ._RightBar .navbar {
}
._Main ._RightBar  small{
    color: #868686;
  
}
._Main ._RightBar ._Story ,._Main ._RightBar ._Contact{
    max-height: 30vh;
    min-height: 30vh; 
    overflow-y: scroll;
}
._Main ._RightBar ._Story img,._Main ._RightBar ._Contact img{
    border: 2px solid gold;
}
._Main ._RightBar ._Story a,._Main ._RightBar ._Contact a{
    font-family: serif;
    border: none;
    color: white;
    margin-top: 20px;
    
}



::-webkit-scrollbar{
    display: none;
}